.parent_container{
    height:500px;
    width:500px;
    background-color: rgba(159, 2, 167, 0.164);
    justify-content: center;
    margin-left: 30%;
    margin-top:50px;
    box-shadow: 2px 2px 20px 2px #888888;
}
.dateSelectorDiv{
    height:50px;
    width:500px;
    background-color:rgba(120, 2, 126, 0.945)
}

.DataDispalyDiv{
    height:450px;
    width:500px;
    overflow-y: scroll;
}
.btn{
    height:23px;
    width: 10%;
    background-color: rgb(205, 207, 207);
    border:none;
}
.text_style{
    font-size:18px;
}